@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.header-one {
  @apply text-headerTwo font-bold;
}

.header-two {
  @apply text-headerThree font-bold
}

.header-three {
  @apply text-headerFour font-bold;
}

.header-four {
  @apply text-headerFive font-bold;
}

.header-five {
  @apply text-paragraph font-bold;
}

.paragraph {
  @apply text-paragraph;
  line-height: 200%;
}

.small {
  @apply text-small;
}

.smallest {
  @apply text-smallest;
}

/*slider*/
.slider-container input[type='range'] {
  position: absolute;
  pointer-events: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: 20;
  height: 10px;
  /*top: -50px;*/
  opacity: 0;
}

.slider-container input[type='range']::-webkit-slider-thumb {
  pointer-events: all;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 0 none;
  background-color: red !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  appearance: none;
}

.slider-container input[type='range']::-moz-range-thumb {
  pointer-events: all;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 0 none;
  background-color: red !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  appearance: none;
}

.slider-container input[type='range']::-ms-thumb {
  pointer-events: all;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 0 none;
  background-color: red !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  appearance: none;
}

.range-thumb-active {
  transform: scale(1.1);
  transform-origin: center;
}
